!!!
%html
  %head
    - ["jquery","baconl-lite","baconl","json","qunit"].each do |js|
      %script{:src =>"/javascript/#{js}.js", :type=>"text/javascript"}
    - ["qunit"].each do |css|
      %link{:rel=>"stylesheet",:href=>"/stylesheet/#{css}.css"}
  %body  
    = qunit_setup "baconl haml parser tests"
    :javascript
        test("Binding to jQuery", function() {
          ok( jQuery.baconl , "jQuery binding exists.");
        });

        module("Selector Parser");

        test("Simple selector", function() {
          var node = baconl.parse( "%h2#element.class-1.class-2" );
          equals( "h2", node.tag );
          equals( "element", node.id );
          equals( ["class-1","class-2"].join(" "), node.classes.join(" ") );
        });

        test("Selector with default values" , function(){
          var node = baconl.parse( ".class-1.class-2" );
          equals( "div", node.tag );
          equals( undefined , node.id );
          equals( ["class-1","class-2"].join(" "), node.classes.join(" ") );
        });

        test("Selector with body" , function(){
          var node = baconl.parse( ".classes body");
          equals( "div" , node.tag );
          equals( "classes" , node.classes.join(" ") );
          equals( "body" , node.innerHTML );
        });

        test("Tagless strings" , function(){
          var node = baconl.parse("simple string");
          equals( undefined , node.tag );
          equals( "" , node.classes.join(" ") );
          equals( "simple string" , node.innerHTML );
        });

        test( "Construct node" , function() {
          equals( "<div></div>" , baconl.node( "%div" ).html() )
          equals( "<div></div>" , baconl.node(baconl.node( "%div" )).html() )
          equals( "<div>body</div>" , baconl.node( "%div body" ).html() )
          equals( "<div class='home'>body</div>" , baconl.node( "%div.home body" ).html());

        });

        module("HTML generator");

        test("Simple selector", function() {
          var node = baconl( "%h2#element.class-1.class-2" );
          equals( "<h2 id='element' class='class-1 class-2'></h2>", node );
        });

        test("Selector with default values" , function(){
          var node = baconl( ".class-1.class-2" );
          equals( "<div class='class-1 class-2'></div>", node );
        });

        test("Selector with body" , function() {
          var node = baconl( ".class-1.class-2 hello" );
          equals( "<div class='class-1 class-2'>hello</div>", node );
        });

        test("Text node" , function(){
          var node = baconl("simple string");
          equals( "simple string" , node );
        });

        test("HAML" , function(){
          equals("<h1>The cat in the hat</h1>" ,  baconl('%h1 The cat in the hat') );
          equals("<h1>The cat in the hat</h1>\n<h2>by <span>Dr. Seuss</span></h2>" ,
            baconl('%h1 The cat in the hat\n%h2 by \n  %span Dr. Seuss') );
        }) ;
                       