!!! Strict
%html
  %head
    %script{:src=>"/baconl.js", :type=>"text/javascript"}
    %script{:src=>"/jquery.js", :type=>"text/javascript"}
    %style
      :plain
        .blue {
          background-color: blue;
        }
        .red {
          background-color: red;
        }
        .green {
          background-color: green;
        }
        #welcome {
          background-color: pink;
        }
        .big {
          font-size: 40px;
        }
  %body
    %pre
    %h1 baconl
    %ul
      %li
        :plain
      %li
        :plain
          var list = baconl("%ul");
          $.each( [ "gato" , "perro" , "perico"] , function( index, animal ){
            list.append( baconl("%li").text( animal ) );
          });
          
      %li baconl("%p.blue").text("Bind text with the text function.")
      %li baconl("%p.red").html("Bind text with the html function")
      %li baconl("%h1.green Hello World!")
      %li 
        :plain
            baconl("#welcome.big This is baconl").append(
              baconl("%p this is a paragraph")
            )

    :javascript
    
      $().ready( function(){      
        if ( baconl.test !== undefined )
        {
          baconl.test();
        }
        $("pre").append(
          baconl("#post.post").append(
            baconl("%h2.title On why some animals are more equal than others") , 
            baconl("%p There was once a list of 7 commandments to be followed by all animals.") , 
            baconl("%p There was also a list of 7 condiments to be put into chicken")
          )
        );
        
      });